<section id="breadcrumb">
	<div class="container">
		<nav class="navigation">
			<ul class="list_reset">
				<li>
					<a href="#">
						<i class="fas fa-home"></i> Strona główna
					</a>
				</li>
			</ul>
			<div class="search">
				<form accept-charset="utf-8" action="?" method="post">
					<input type="search" id="elSearchField" placeholder="Szukaj..." name="q" autocomplete="off">
					<button class="buttonSubmitSearch" type="submit"><i class="fa fa-search"></i></button>
				</form>
			</div>
		</nav>
	</div>
</section>