<div class="menu">
	<div class="container">
		<ul class="menu_container list_reset">
			<li>
				<a href="{{ path_for('home') }}">
					Forum
				</a>
			</li>
			<li>
				<a href="#">
					Użytkownicy
				</a>
			</li>
			<li>
				<a href="#">
					Regulamin
				</a>
			</li>
		</ul>
	</div>
</div>