.d-none-loader {
    display: none !important; 
}
.loading, .loader {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #ccc;
  border-right-color: #888;
  border-radius: 22px;
  -webkit-animation: rotate 1s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
}
.loader {
    position: relative;
}
.load-overlay{
    background-color:#fff;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:9000;
    transition: visibility 0s, opacity 0.2s linear;
}
[data-theme="dark"] .load-overlay{
    background-color:#000;
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}