@import url(https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,700,700i);

:root {
  --blue: #21b3e1;
  --red: #ff0000;
  --green: #03a679;
  --yellow: #ffc407;
  --black: #000000;
  --purple: rgb(182, 81, 238);
  --dark: #444a56;
  --gray: #edf0f5;
  --light: #e3e3e3;
  --white: #ffffff;
  --background: #f4f4f8;
}
:root[data-theme="dark"] {
  --black: #f4f4f8;
  --dark: #99a6bf;
  --gray: #201c26;
  --light: #2f2c2c;
  --white: #0c0d11;
  --background: #111216;
}
*, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: max-height .2s ease-out;
}

:focus {
    outline: 0;
}

html {
    font-family: "Arial", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);;
    font-size: 13px;
    font-family: "Montserrat", "Arial", sans-serif;
}



html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 1rem;
}

h3, h4, h5, h6 {
    margin: 0;
    padding-left: 0;
    padding-right: 0;    
}

a {
    color: var(--black);
    transition: all 0.3s ease;
    text-decoration: none;
}

a:hover{
    color: var(--dark);
}

textarea {
    transition: opacity 0.2s linear;
}

input[type=text], input[type=password], input[type=email], input[type=date], select {
    outline: none;
    width: 100%;
    padding: 10px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--dark);
    border-radius: 20px;
    box-sizing: border-box;
    background-color: var(--white);
    color: var(--black);
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=date]:focus, select:focus  {
    box-shadow: 0 0 5px var(--blue);
    border: 1px solid var(--blue);
    border: 1px solid var(--blue);
}

input[type=submit] {
  
  color: var(--white);
  padding: 10px 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--light);
}

.combine-submit {
    margin-left: -50px !important;
    -webkit-appearance: none !important;
    border-left: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.combine {
    width: calc(100% - 30px)  !important;
    padding-right: 0px !important;
}

.combine-submit {
    margin-left: -50px !important;
    -webkit-appearance: none !important;
    border-left: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 186px);
}

.flex-align-center {
    align-items: center;
}

.flex-align-start {
    align-items: start;
}

.flex-dir-row {
    flex-direction: row;
    display: flex;
}
    
.flex-dir-column {
    flex-direction: column;
    display: flex;
}

.flex-0 {
    flex: 0 !important;
}

.flex-1 {
    flex: 1 !important;
}

.row {
    display: flex;
    flex: 1;
    display: -webkit-flex; /* Safari */
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-justify-center{
    justify-content: center;
}

.flex-justify-end {
	justify-content: flex-end;
}

.flex-justify-space-between {
    justify-content: space-between  ;
}    
  
.box {
  padding: .5rem;
  margin: .5rem;
  border-radius: 8px;
  background-color: var(--white);
  color: var(--black);
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  font-size: 14px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -ms-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transform: scaleY(1);
    transform-origin: top center;
}

.chatbox {
    max-height: 250px;
    overflow-y: auto;
}

.br1{
    border-radius: 10px;
}

.border-right {
    border-right: 1px solid var(--light);
}

.rounded-circle {
    border-radius: 50%;
}
.box-header {
    border-bottom: 1px solid var(--gray); 
    padding: .25rem;
    margin-bottom: .5rem;
}
.box-body {
    transition: all 0.2s linear;
}
.box-footer {
    padding-top: 0.25rem;
    margin-top: .5rem;
    border-top: 1px solid var(--gray); 
    display:flex;
}

.search {
    position: absolute;
    z-index: 10;
    right: 0;
}

.avatar {
    border-radius: 50%;
}

.avatar-sm {
    width: 38px;
    height: 38px;
}

.avatar-md {
    width: 85px;
    height: 85px;
}

.avatar-xl {
    width: 150px;
    height: 150px;  
}

.avatar-auto {
    width: 38px;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
}

.avatar-status: { 
	position: relative;
    font-weight: bold;
	border: 1px solid transparent;
	top: 0px;
	right: 0px; 
}

.avatar-change { 
	position: absolute;
	border: 1px solid transparent;
    bottom: 25%;
    left: 25%;
    border-radius: 50%;
    background-color: var(--light);
    opacity: 0.65;
}

.online{
	color: var(--green); 
}
.offline{
	color: var(--gray);
}

.breadcrumbs {
    max-height: 3rem;
    color: var(--black);
    background-color: var(--white);
    margin-bottom: 2rem;
        margin-left: .5rem;
    margin-right: .5rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.breadcrumbs > a {
    margin-left: 1rem;
    margin-right: 1rem;
}
.list-group-flush {
    border-radius: 0;
}
.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: var(--white);
    border-top: 1px solid var(--gray);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

.search {
    width: 350px;
    float: right;
}

.footer {
  background-color: var(--gray);
  color: var(--black);
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;  
}

.fs-12, .fs-12b {
    font-size: 12px;
}

.fc-g {
    color: var(--dark);
}

.bg-gray {
    background-color: var(--gray);
}

.p1{
    padding: .25rem !important;
}
.p2{
    padding: .50rem !important;
}
.p3{
    padding: .75rem !important;
}
.p4{
    padding: 1rem !important;
}

.px0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.px1 {
    padding-left: .25rem !important;
    padding-right: .25rem !important;
}

.px2 {
    padding-left: .5rem !important;
    padding-right: .5rem !important;
}

.m1{
    margin: .25rem !important;
}
.m2{
    margin: .50rem !important;
}
.m3{
    margin: .75rem !important;
}
.m4{
    margin: 1rem !important;
}

.my1{
    margin-top: .25rem !important;
    margin-bottom: .25rem !important;
}

.my2{
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.mx1{
    margin-left: .25rem !important;
    margin-right: .25rem !important;
}

.mx2{
    margin-left: .5rem !important;
    margin-right: .5rem !important;
}

.mt1{
    margin-top: .25rem !important;
}

.mt2{
    margin-top: .5rem !important;
}

.mt3{
    margin-top: .75rem !important;
}

.mt4{
    margin-top: 1rem !important;
}

.mx-auto{
    margin-left: auto !important;
    margin-right: auto !important;
}



.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}

#captcha {
    height: 80px;
    opacity: 1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.form-group {
    padding: .25rem;
}

.hide-captcha {
   opacity: 0 !important;
}

.list_reset {
            margin: 0;
            padding: 0;
            list-style: none;
        }

.header {
  background: var(--white);
  box-shadow: inset 0 10px 40px 0 rgba(129,151,200,.22), 0 0 40px 0 rgba(25,135,225,20%);
  position: fixed;
  display: flex;
  width: 100%;
  top:0;
  left:0;
  z-index: 3;
}


.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: transparent;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}


.header .logo {
  display: block;
  float: left;
  font-size: 1.5rem;
  padding: 10px 20px;
  text-decoration: none;
  border-right: 1px solid var(--light);
}

.bottom-nav {
    margin-top: 2.5rem;
}

.top-nav, .bottom-nav {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    background: var(--gray);
    padding: 11px 20px;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--black);
    margin-left: 0;
    margin-right: 0;    
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-in-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    right: 0px;
    padding: 22px 30px;
    position: absolute;
    user-select: none;
}

.header .menu-icon .navicon {
  background: var(--black);
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-in-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--black);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.btn {
  background-color: var(--white);
  border: none;
  border-radius: 20px;
  color: var(--black);
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: .1s;
  cursor: pointer;
  transition: color 0.2s;
}

.btn-green {
  background-color: var(--white); 
  color: var(--black); 
  border: 1px solid var(--green);
}

.btn-green:hover {
  background-color: var(--green);
  color: var(--white);
}

.btn-blue {
  background-color: var(--white); 
  color: var(--black); 
  border: 1px solid var(--blue);
}

.btn-blue:hover {
  background-color: var(--blue);
  color: var(--white);
}

.btn-red {
  background-color: var(--white); 
  color: var(--black); 
  border: 1px solid var(--red);
}

.btn-red:hover {
  background-color: var(--red);
  color: var(--white);
}

.btn-yellow {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--yellow);
}

.btn-yellow:hover {
    background-color: var(--yellow);
}

.btn-gray {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--gray);
}

.btn-gray:hover {
  background-color: var(--gray);
  color: var(--white);
}

.btn-dark {
  background-color: var(--white); 
  color: var(--black); 
  border: 1px solid var(--dark);
}

.btn-dark:hover {
  background-color: var(--dark);
  color: var(--white);
}

.btn-light {
  background-color: var(--white); 
  color: var(--dark); 
  border: 1px solid var(--light);
}

.btn-light:hover {
  background-color: var(--light);
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: var(--white);
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: var(--dark);
    border-radius: 10px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.nav-tabs {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-item {
        padding: 0.25rem;
}

.nav-item:before {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 0 0 5px 5px;
    background: transparent;
    box-shadow: 0 10px 40px 0 transparent;
    z-index: 5;
    transform: scaleX(1);
    transform-origin: top center;
    width: 100px;
    display: flex;
}

.nav-item:before .active {
    background: var(--blue);
    box-shadow: 0 10px 40px 0 var(--blue);
}

.tab-pane {
    display: flex;
    -webkit-transition: 0.3s ease-in-out all;
    -o-transition: 0.3s ease-in-out all;
    transition: 0.3s ease-in-out all;
    visibility: 0;
    opacity: 0;
    
}

.tab-pane.active{
    visibility: 1;
    opacity: 1;
    transform: scaleX(1);
} 
 

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 100vh;
  width: 100%;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.header .menu {
   height: 100vh;
    position: absolute;
    top: 50px;
    background: var(--background);
}

#darkmode {
    display: flex;
}

.header-btn {
    margin-top: auto;
    margin-bottom: auto;
}

.menu_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    padding: 10px 12px;
}

ul.menu_container li > a {
    background: 0 0;
    height: 80px;
    line-height: 80px;
    display: block;
    padding: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    margin-right: 50px;
    color: var(--black);
    transition: all .4s ease 0s;
    position: relative;
    z-index: 1;
}

ul.menu_container li > a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 0 0 5px 5px;
    background: #1987e2;
    box-shadow: 0px 10px 40px 0px #1987e2;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: top center;
    -webkit-transition: 0.3s ease-in-out all;
    -o-transition: 0.3s ease-in-out all;
    transition: 0.3s ease-in-out all;
}

ul.menu_container li > a:hover:after, ul.menu_container li > a.active:after {
    transform: scaleX(1);
}

ul.menu_container li > a:hover {
    color: var(--dark);
}
 

.alert {
    flex: 100%;
    width: 50%;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: visibility 0s, opacity 0.2s linear;
}
.alert-body {
    margin: .5rem;
    align-items: center;
}

.danger{
    background-color: var(--red);
}
.warning{
    background-color: var(--yellow);
}
.info{
    background-color: var(--blue);
}
.success{
    background-color: var(--green);
}

.border-0 {
    border: 0;
}

/* tooltip */

.tooltip {
  position: relative;
}

.tooltip::after {
  background-color: var(--light);
  border-radius: 10px;
  color: var(--black);
  display: none;
  padding: 10px 15px;
  position: absolute;
  text-align: center;
  z-index: 9999;

}

.tooltip::before {
  background-color: var(--light);
  content: ' ';
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 9999;
}

.tooltip:hover::after {
  display: block;
}

.tooltip:hover::before {
  display: block;
}

.tooltip.top::after {
  content: attr(data-tooltip);
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 10px));
}

.tooltip.top::before {
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 5px)) rotate(45deg);
}

.tooltip.bottom::after {
  content: attr(data-tooltip);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + 10px));
}

.tooltip.bottom::before {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + 5px)) rotate(45deg);
}

.tooltip.right::after {
  content: attr(data-tooltip);
  top: 0;
  right: 0;
  transform: translateX(calc(100% + 10px));
}

.tooltip.right::before {
  content: attr(data-tooltip);
  right: 0;
  transform: translate(calc(100% + 5px), -50%) rotate(45deg);
}

.tooltip.left::after {
  content: attr(data-tooltip);
  top: 0;
  left: 0;
  transform: translateX(calc(-100% - 10px));
}

.tooltip.left::before {
  top: 50%;
  left: 0;
  transform: translate(calc(-100% - 5px), -50%) rotate(45deg);
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  opacity: 0;  
  position: fixed; /* Stay in place */
  z-index: 9000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  transition: visibility 0s, opacity 0.2s linear;
}
.modal-content > .box {
    box-shadow: 0 0 6px var(--light);
}
/* Modal Content/Box */
.modal-content {
  background-color: transparent;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: var(--dark);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}  
 
nav ul ul {
	display: none;
	position: absolute; 
	box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
}

nav ul li {
    margin-left: .25rem;
    margin-right: .25rem;
}

/* Display Dropdowns on Hover */
.menu-dropdown {
	display:inherit !important;
    position: fixed;
    transition: visibility 0s, opacity 0.2s linear;
    background-color: var(--white) !important;
    z-index: 1000;
}

.menu-dropdown-show {
    position: absolute;
    transform: scaleX(1);
    visibility: visible;
    opacity: 1;
    top:0;
    width: 100%;
    height: 100%;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	float:none;
	display:list-itrem;
	position: relative;
} 
 
.fs9 {
    font-size: 9px;
} 
 
.pointer {cursor: pointer;}

/* For mobile phones: */
[class*="col-"] {
  flex: 100%;
  flex-grow: 0 !important;
}
.col-sm-auto {flex: 0; flex-grow: 1 !important;}
.col-sm-0 {flex: 0;}
.col-sm-1 {flex: 8.33%;}
.col-sm-2 {flex: 16.66%;}
.col-sm-3 {flex: 25%;}
.col-sm-4 {flex: 33.33%;}
.col-sm-5 {flex: 41.66%;}
.col-sm-6 {flex: 50%;}
.col-sm-7 {flex: 58.33%;}
.col-sm-8 {flex: 66.66%;}
.col-sm-9 {flex: 75%;}
.col-sm-10 {flex: 83.33%;}
.col-sm-11 {flex: 91.66%;}
.col-sm-12 {flex: 100%;}

.d-none, .fade {
    display: none;
}

.d-sm-none {
    display: none;
}

.d-sm-flex, .flex-mobile {
    display: flex;
    margin-left: 1rem;
}
.d-sm-block  {
    display: block;
}

.d-block {
    display: block;
}

.mw500 {
    max-width: 500px;
}

.w100 {
   width: 100%; 
}

.text-success {
    color: var(--green);
}

.text-danger {
    color: var(--red);
}

.text-info {
    color: var(--blue);
}

.text-warning {
    color: var(--yellow);
}

.tx0 {
 transform: scaleY(0);   
}

@media only screen and (min-width: 768px) {

    .container {
    padding-top: 0;
    }
    
    .menu,.header .menu-btn:checked ~ .menu  {
        width: auto;
    }
    
    
    /* Display Dropdowns on Hover */
.menu-dropdown {
    right: 0;
    width: auto;
    max-width: 200px;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:200px;
} 
    
    .header li {
    float: left;
    }
    .header li a {
    padding: 14px 14px;
    }
    .header .menu {
    clear: none;
    max-height: 3rem;
    position: relative;
    top: 0;
    background: transparent;
    }

    .header .menu-icon {
    display: none;
    }
    .header-btn {
    margin-top: 4px;

}
    .d-sm-none{
      display: flex !important;
    }

    .d-sm-flex, .d-sm-block  {
    display: none !important;
    }

    .flex-mobile {
    display: inline !important;
    }
      

    .avatar-auto {
        width: 85px;
        height: 85px;
    }
  
    
  /* For desktop: */
  .col-auto {flex:0  ; flex-grow: 1 !important;}
  .col-0 {flex: 0;}
  .col-1 {flex: 8.33%;}
  .col-2 {flex: 16.66%;}
  .col-3 {flex: 25%;}
  .col-4 {flex: 33.33%;}
  .col-5 {flex: 41.66%;}
  .col-6 {flex: 50%;}
  .col-7 {flex: 58.33%;}
  .col-8 {flex: 66.66%;}
  .col-9 {flex: 75%;}
  .col-10 {flex: 83.33%;}
  .col-11 {flex: 91.66%;}
  .col-12 {flex: 100%;}
}   

@media only screen and (min-width: 1440px) {
    .menu-dropdown {
        right: calc((100vw - 1450px)/2);
    }
    .search {
        right: calc((100vw - 1450px)/2);
    }
}