{% extends 'templates/main.twig' %}



{% block content %}
<!-- main row -->
<div class="row">
	<div class="col-lg-12 p5">
		<div class="alert alert-danger text-center" role="alert">
		  <strong>{{ trans('This content is locked, sorry.') }}</strong>
		</div>	
	</div>
</div>
<!-- /main row -->
{% endblock %}


