<!doctype html>
<html lang="pl">
<head>
{% include 'templates/partials/head.twig' %}
{% block headblock %}{% endblock %}
</head>
<body>
<div id="main-loader" class="load-overlay">
  <div class="loading">
  </div>
</div>
	{% if boards_off and auth.admin < 1 %}
		{% include 'templates/partials/boards_off.twig' %}
	{% else %}
		
	{% include 'templates/partials/navigation.twig' %}
		
    <main role="main" class="container mw-100 h-100">

	{% include 'templates/partials/breadcrumb.twig' %}	
	{% include 'templates/partials/flash.twig' %}
	{% block content %}{% endblock %}
	
	{% endif %}
    </main><!-- /.container -->
	<!-- footer -->
	<footer class="footer">
      <div class="w-100 bg-light py-2 px-4">
        <span class="text-muted">Powered by: <strong><a href="https://boards.s89.eu">BOARDS SCRIPT</a>	</strong></span>
      </div>
    </footer>
	<!-- /footer -->
	
{% include 'templates/partials/modals.twig' %}
{% include 'templates/partials/endjs.twig' %}
{% block endcontent %}{% endblock %}
<script>
      $(document).ready(function(){
        $('nav.navbar').removeClass("d-none-loader");
        $('#main-loader').fadeOut("fast");
      })
</script>
<noscript>
	{{ skin_assets.css.noscript|raw }}
</noscript> 
{{ csrf.field | raw }}
</body>
</html>

