{% include 'templates/partials/head.twig' %}
{% block headblock %}{% endblock %}

	{% if boards_off and auth.admin < 1 %}
		{% include 'templates/partials/boards_off.twig' %}
	{% else %}
		
	{% include 'templates/partials/navigation.twig' %}
		
    <main role="main" class="container mw-100">

	{% include 'templates/partials/breadcrumb.twig' %}	
	{% include 'templates/partials/flash.twig' %}
	{% block content %}{% endblock %}
	
	{% endif %}
    </main><!-- /.container -->
	<!-- footer -->
	<footer class="footer">
      <div class="w-100 bg-light py-2 px-4">
        <span class="text-muted">Powered by: <strong>BOARDS SCRIPT</strong></span>
      </div>
    </footer>
	<!-- /footer -->
	
{% include 'templates/partials/modals.twig' %}
{% include 'templates/partials/endjs.twig' %}
{% block endcontent %}{% endblock %}
<script>
      $(document).ready(function(){
        $('body').fadeIn("fast");
      })
</script>
{{ csrf.field | raw }}
  

