<div class="card border-light mb-3">
		  <div class="card-header">{{ sidebar.name_prefix | raw }} {{ sidebar.name | raw }}</div>
		  <div class="card-body px-2">
			<p class="card-text">
			</p><ul class="list-group list-group-flush">
			    {{ include(template_from_string(sidebar.html | raw)) }}
			</ul>
			<p></p>
		  </div>
	</div>	