<div class="card border-light mb-3">
		  <div class="card-header">{{ sidebar.name_prefix | raw }} {{ sidebar.name | raw }}</div>
		  <div class="card-body px-2">
			<p class="card-text">
			<ul class="list-group list-group-flush">
				 {{ sidebar.html | raw }}
			</ul>
			</p>
		  </div>
	</div>	