[data-theme="dark"] {
    background-color: #111 !important;
    color: #eee;
}
[data-theme="dark"] .close {
    color: #fff;
}
[data-theme="dark"] .load-overlay, [data-theme="dark"] .form-control:focus {
    background-color: #000 !important;
}
[data-theme="dark"] .bg-light,
[data-theme="dark"] .bg-white,
[data-theme="dark"] .modal-body,
[data-theme="dark"] .modal-footer,
[data-theme="dark"] .modal-header,
[data-theme="dark"] .navbar-light {
    background-color: #333 !important;
}
[data-theme="dark"] .bg-black {
    background-color: #eee !important;
}
[data-theme="dark"] .modal-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.125) !important;
}
[data-theme="dark"] .card-header {
    background-color: #000 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.125) !important;
}
[data-theme="dark"] .card,
[data-theme="dark"] .list-group-item {
    background-color: #000 !important;
    border: 1px solid rgba(255, 255, 255, 0.125) !important;
}
[data-theme="dark"] .avatar-change::before,
[data-theme="dark"] a {
    color: rgba(255, 255, 255, 0.5) !important;
}
[data-theme="dark"] a:hover {
    color: rgba(255, 255, 255, 0.7) !important;
}
[data-theme="dark"] .navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}
[data-theme="dark"] .form-control {
    color: #84acad;
    background-color: #000;
    background-clip: padding-box;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
[data-theme="dark"] .btn-light {
    color: #f8f9fa;
    background-color: #212529;
    border-color: #212529;
}
[data-theme="dark"] .dropdown-menu {
    color: #f8f9fa;
    background-color: #000;
    background-clip: padding-box;
    border: 1px solid rgba(255, 255, 255, 0.15);
}
[data-theme="dark"] .dropdown-item:focus,
[data-theme="dark"] .dropdown-item:hover {
    color: #eee;
    background-color: rgba(255, 255, 255, 0.5);
}
[data-theme="dark"] .nav-tabs .nav-item.show .nav-link,
[data-theme="dark"] .nav-tabs .nav-link.active {
    color: #96a6b5;
    background-color: #000;
    border-color: #505152 #505152 #000;
}
[data-theme="dark"] .breadcrumb,
[data-theme="dark"] .page-item {
    background-color: #000 !important;
}
[data-theme="dark"] .page-link {
    background-color: #000;
    border: 1px solid #000;
}
[data-theme="dark"] .page-item .active > .page-link,
[data-theme="dark"] .page-link:hover {
    background-color: #111 !important;
    border: 1px solid #111 !important;
}
[data-theme="dark"] .jodit .jodit-toolbar-collection_mode_horizontal:after {
    background-color: #000;
}
[data-theme="dark"] .jodit .jodit-toolbar-editor-collection_mode_horizontal:after {
    background-color: #000;
}
[data-theme="dark"] .jodit.jodit-container {
    background-color: #000;
}
[data-theme="dark"] .jodit.jodit-container.jodit_disabled {
    background-color: #000;
}
[data-theme="dark"] .jodit.jodit-container:not(.jodit_inline) .jodit-workplace {
    border-color: #000;
}
[data-theme="dark"] .jodit .jodit-popup__content {
    background: #000;
}
[data-theme="dark"] .jodit .jodit-toolbar-button__text {
    color: #fff;
}
[data-theme="dark"] .jodit .jodit-ui-button__text {
    color: #fff;
}
[data-theme="dark"] .jodit .jodit-toolbar-button:hover:not([disabled]) {
    background-color: #787878;
}
[data-theme="dark"] .jodit .jodit-toolbar-button__button:hover:not([disabled]) {
    background-color: #787878;
}
[data-theme="dark"] .jodit .jodit-toolbar-button__trigger:hover:not([disabled]) {
    background-color: #787878;
}
[data-theme="dark"] .jodit .jodit-ui-button:hover:not([disabled]) {
    background-color: #787878;
}
[data-theme="dark"] .jodit .jodit-ui-button__button:hover:not([disabled]) {
    background-color: #787878;
}
[data-theme="dark"] .jodit .jodit-ui-button__trigger:hover:not([disabled]) {
    background-color: #787878;
}
[data-theme="dark"] .jodit .jodit-status-bar {
    background-color: rgba(95, 92, 92, 0.8);
    border-color: rgba(255, 255, 255, 0.125);
}
[data-theme="dark"] .jodit .jodit-status-bar {
    color: #fff;
}
[data-theme="dark"] .jodit .jodit-status-bar .jodit-status-bar__item span {
    color: #fff;
}
[data-theme="dark"] .jodit .jodit-toolbar__box:not(:empty) {
    background: #000;
}
[data-theme="dark"] .jodit .jodit-icon {
    fill: silver;
    stroke: silver;
}
[data-theme="dark"] .jodit .jodit-toolbar-button .jodit-toolbar-button__trigger {
    fill: silver;
    stroke: silver;
}
[data-theme="dark"] .jodit .jodit__upload-button svg {
    fill: silver;
    stroke: silver;
}
[data-theme="dark"] .jodit .jodit-icon-close {
    stroke: silver;
}
[data-theme="dark"] .jodit .jodit-wysiwyg {
    background-color: #000;
    color: #fff;
}
[data-theme="dark"] .jodit .jodit-wysiwyg_iframe {
    background-color: #000;
    color: #fff;
}
[data-theme="dark"] .jodit .jodit-form input[type="text"] {
    background-color: rgba(81, 81, 81, 0.41);
    border-color: rgba(255, 255, 255, 0.125);
    color: #fff;
}
[data-theme="dark"] .jodit .jodit-form input[type="url"] {
    background-color: rgba(81, 81, 81, 0.41);
    border-color: rgba(255, 255, 255, 0.125);
    color: #fff;
}
[data-theme="dark"] .jodit .jodit-form textarea {
    background-color: rgba(81, 81, 81, 0.41);
    border-color: rgba(255, 255, 255, 0.125);
    color: #fff;
}
[data-theme="dark"] .jodit .jodit-form button {
    background-color: rgba(104, 103, 103, 0.75);
    color: #fff;
}
[data-theme="dark"] .jodit .jodit-placeholder {
    color: hsla(0, 5.2%, 81%, 0.8);
}
[data-theme="dark"] .jodit .jodit-drag-and-drop__file-box {
    color: #fff;
}
[data-theme="dark"] .jodit .jodit_uploadfile_button {
    color: #fff;
}
[data-theme="dark"] .jodit .jodit-drag-and-drop__file-box:hover {
    background-color: rgba(104, 103, 103, 0.75);
}
[data-theme="dark"] .jodit .jodit_uploadfile_button:hover {
    background-color: rgba(104, 103, 103, 0.75);
}
[data-theme="dark"] .jodit .jodit-add-new-line:before {
    border-top-color: rgba(255, 255, 255, 0.125);
}
[data-theme="dark"] .jodit .jodit-add-new-line span {
    background: rgba(104, 103, 103, 0.75);
    border-color: rgba(255, 255, 255, 0.125);
}
[data-theme="dark"] .jodit .jodit-add-new-line span svg {
    fill: #fff;
}
[data-theme="dark"] .jodit .jodit-resizer > i {
    background: rgba(104, 103, 103, 0.75);
    border-color: rgba(255, 255, 255, 0.125);
}
[data-theme="dark"] .jodit .jodit-input {
    color: #444;
    border-color: rgba(255, 255, 255, 0.125);
    background-color: #787878;
}
[data-theme="dark"] .jodit .jodit-select {
    color: #444;
    border-color: rgba(255, 255, 255, 0.125);
    background-color: #787878;
}
[data-theme="dark"] .jodit.jodit-dialog__box .jodit-dialog {
    background-color: #000;
}
[data-theme="dark"] .jodit.jodit-dialog__box .jodit-dialog .jodit-dialog__header {
    border-color: rgba(255, 255, 255, 0.125);
}
[data-theme="dark"] .jodit.jodit-dialog__box .jodit-dialog .jodit-filebrowser__files.active .jodit-filebrowser__files-item {
    border-color: rgba(255, 255, 255, 0.125);
}
[data-theme="dark"] .jodit.jodit-dialog__box .jodit-dialog .jodit-filebrowser__files.active .jodit-filebrowser__files-item-info {
    background-color: #fff;
}
