<div id="chatMessageEdit" class="modal" data-toggle="#chatMessageEdit" data-visibility="hide">
  <div class="modal-content">
  <div class="box">
    <div class="box-header">
        <span class="close float-right mt1" data-toggle="#chatMessageEdit">&times;</span>
        <h3>Chatbox editor</h3>
    </div>
    <div class="box-body">
        <input type="text" class="combine" id="chat-edit-input" name="chat-message" placeholder="write something">
        <input type="hidden" id="chat-edit-id" value="">
        <button type="submit" class="btn btn-dark combine-submit" data-edit-chat-post="true">Wyślij <i class="fab fa-telegram-plane"></i></button>
  </div>
  </div>
</div>
</div>