{% extends 'templates/main.twig' %}

{% block content %}
<div class="row">
{% include 'templates/partials/modules.twig' %}
  <!-- main board -->
  
  <div class="col-lg order-sm-2 order-1">
    
    
    <div class="card border-light mb-3">
      <div class="card-header">
        <h1>{{ page.name|raw }}</h1>
      </div>
        <div class="card-body p-4">
          {{ page.content|raw }}
        </div>
        </div>
    </div>
    
    <!-- /Category Board -->


</div>
{% endblock %}