<!-- breadcrumb -->
<nav aria-label="breadcrumb" class="d-none d-md-block">
  <ol class="breadcrumb">
    <li class="breadcrumb-item {% if not breadcrumbs %}active{% endif %}"><a href="{{ path_for('home') }}">Home</a></li>
	{% if breadcrumbs %}
		{% for breadcrumb in breadcrumbs %}
		<li class="breadcrumb-item {% if breadcrumb.last %}active{% endif %}"><a href="{{ breadcrumb.path }}">{{ stripTags(breadcrumb.name) }}</a></li>		
		{% endfor %}
	{% endif %}
  </ol>
</nav>
<!-- /breadcrumb -->