{% if modules.top %}
	
	<!-- left module -->
	<div class="col-12 order-0">
	{% for sidebar in modules.top %}
		{% include 'templates/partials/boxes/'~sidebar.engine~'.twig' %}
	{% endfor %}
	</div>
	<!-- /left module -->
{% endif %}

{% if modules.left %}
	
	<!-- left module -->
	<div class="col-lg-3 order-sm-1 order-2">
	{% for sidebar in modules.left %}
		{% include 'templates/partials/boxes/'~sidebar.engine~'.twig' %}
	{% endfor %}
	</div>
	<!-- /left module -->
{% endif %}
	
{% if modules.right %}
	<!-- right module -->
	<div class="col-lg-3 order-sm-3 order-3">
	{% for sidebar in modules.right %}
		{% include 'templates/partials/boxes/'~sidebar.engine~'.twig' %}
	{% endfor %}
	{{ plugin_bar | raw }}
</div>
{% endif %}

{% if modules.bottom %}
	
	<!-- left module -->
	<div class="col-12 order-5">
	{% for sidebar in modules.bottom %}
		{% include 'templates/partials/boxes/'~sidebar.engine~'.twig' %}
	{% endfor %}
	</div>
	<!-- /left module -->
{% endif %}