<form action="#" method="post">
 <input type="hidden" class="form-control" id="cache" name="cache" value="1">
  <div class="form-group">
    <label for="name">czas cache</label>
    <input type="number" class="form-control" id="time" name="time" value="{{ cacheTime.cache }}">
    <small id="nameHelp" class="form-text text-muted">Jak często będzie plugin pobiera dane o serwerach (w sekundach).</small>
  </div>
  <button type="submit" class="btn btn-primary">{{ trans('admin.submit') }}</button>
</form>