{% include 'templates/partials/head.twig' %}
{% block headblock %}{% endblock %}
{% if admin > 1 %}
{% include 'templates/partials/nav.twig' %}	
<div id="content" class="px-3 py-5 py-md-2">
{% include 'templates/partials/flash.twig' %}
{% include 'templates/partials/breadcrumbs.twig' %}
{% if not lock %}
{% block content %}{% endblock %}
{% endif %}
{% block updateblock %}{% endblock %}
</div>
{% else %}
{% include 'templates/partials/auth.twig' %}
{% endif %}
{% include 'templates/partials/modals.twig' %}
{% include 'templates/partials/footer.twig' %}
{% block endcontent %}{% endblock %}
</body>
</html>