{% extends 'templates/main.twig' %}


{% block content %}
      
        <h2 class="mb-4">{{ trans('mail.template.list') }}</h2>
        <div class="list-group">
            {% for tpl in list %}
                <a href="{{ path_for('admin.mail.template.edit', {'twig': tpl}) }}" class="list-group-item list-group-item-action">{{ trans(tpl) }}</a>
            {% endfor %}
        </div>
                
{% endblock %}