</div>

<script src="{{ base_url() }}/public/scripts/jquery-3.4.1.min.js"></script>
<script src="{{ base_url() }}/public/scripts/popper.min.js"></script>
<script src="{{ base_url() }}/public/scripts//bootstrap.min.js"></script>
<script src="{{ base_url() }}/public/admin/rwd_sb1/js/main.js"></script>
