<!doctype html>
<html lang="pl">
  <head>
  	<title>Boards Admin Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="{{ base_url() }}/public/css/all.min.css">
		<link rel="stylesheet" href="{{ base_url() }}/public/admin/rwd_sb1/css/main.min.css">
  </head>
  <body>
  <div class="wrapper d-flex align-items-stretch">