<!doctype html>
<html lang="pl">
<head>

{% include 'templates/partials/head.twig' %}
{% block headblock %}{% endblock %}
</head>
	<body>
<div class="container-fluid" >
    <div class="row min-vh-100 flex-column flex-md-row h100">		
	{% include 'templates/partials/navigation.twig' %}
		
    <main class="col bg-faded py-3 flex-grow-1">

	{% include 'templates/partials/breadcrumb.twig' %}	
	{% include 'templates/partials/flash.twig' %}
	{% block content %}{% endblock %}
	

    </main><!-- /.container -->
</div>
</div>	
		<!-- footer -->
	<footer class="footer">
      <div class="w-100 bg-light py-2 px-4">
        <span class="text-muted">Powered by: <strong>BOARDS SCRIPT</strong></span>
      </div>
    </footer>
	<!-- /footer --> 

{% include 'templates/partials/modals.twig' %}
{% include 'templates/partials/endjs.twig' %}
{% block endcontent %}{% endblock %}
<script>
      $(document).ready(function(){
        $('body').fadeIn("fast");
      })
</script>
  </body>
</html>
