<li value="{@$id@}" class="list-group-item chatbox-li">
	  <div class="row">
		  <div class="col-2 col-sm-1">
			<img src="{@avatar@}" class="rounded-circle chat-av" alt="{@username@}" >
		  </div>
		  <div class="col-10 col-sm-11 fs-12">
		  <div class="row">
			  <div class="col-12">
				<span><a href="{@uurl@}"><b class="float-left">{@username_html@}</b></a><i class="float-right fc-g">{@date@}</i>
			  </div>
			  <div class="col-12">
				{@shout@}
			  </div>
		  </div>	  
		</div>
	</div>		
</li>